.tblPuertas{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tblPuertas,tr{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;  
  }

.boton{
  padding: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: x-large;
}
.card-informacion{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.titleCard{
  font-size: x-large;
}
.mat-flat-button{
  font-size: x-large;
}