
<!--Llamamos al selector del componente header-->
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
<app-header></app-header>
<router-outlet></router-outlet>
<!--The content below is only a placeholder and can be replaced.-->

<!--Se habilita para el ruteo y navegacion-->
<!--<router-outlet></router-outlet>-->