/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

a:link, a:visited { 
    color: white;
    text-decoration: underline;
    cursor: auto;
  }

.card {
    max-width: 1000px;
  }

  .cardSalas {
    max-width: 600px;
  }

  .titleCard{
    align-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 8px 20px;
    color: rgba(0,0,0,.54);
    background: rgba(0,0,0,.03);
  }